/* general styles*/
@font-face {
  font-family: 'NotoSans';
  src: url('../assets/fonts/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../assets/fonts/NotoSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../assets/fonts/NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-text-color: rgb(210, 210, 218);
  --hover-text-color: rgb(54, 54, 85);
}

html {
  font: normal normal 20px/26px 'NotoSans', Arial, sans-serif;
  color: var(--main-text-color);
}

.container {
  padding: 0 40px;
}

.img_fluid {
  width: 100%;
  height: auto;
}

h2,
h3 {
  text-align: center;
}

a {
  transition: all ease-in 0.3s;
}

a:hover {
  color: var(--hover-text-color);
}

/*header styles*/
.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

.header__container {
  height: 4rem;
  background-color: rgba(0, 60, 149, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.logo-box {
  width: 2rem;
  height: 2rem;
}

.header__nav {
  flex: 0 0 auto;
  min-width: 50%;
}

.nav__container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*section about styles*/

.about {
  background: linear-gradient(150deg, rgba(253,254,255,1) 11%, rgba(0,55,138,1) 33%, rgba(0,60,149,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about__contents * {
  padding-bottom: 1rem;
}

.about__img-box {
  width: 45vw;
}

/*animals section styles*/
.animals {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: linear-gradient(150deg, rgba(0,0,0,1) 12%, rgba(3,20,30,1) 100%);
  height: 80vh;
}

.animals__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.animals__item {
  padding: 0 0.5rem 0.8rem;
  border-radius: 0.8rem;
  width: 23vw;
}

.animals__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.animals__radio-circle {
  opacity: 0;
}

.animals__input-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.animals__input-title:hover {
  color: var(--hover-text-color);
}

/*arrow styles*/
.arrow {
  width: 1rem;
  height: 1rem;
  transition: all ease-in 1s;
  align-self: center;
}

.arrow-box {
  background-color: #fff;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

/*animal images styles*/
.animals__img {
  background-size: cover;
  width: 0;
  height: 0;
  border-radius: 0.8rem;
  transition: all ease-in 1s;
}

.cat {
  background-image: url(../assets/img/jpg/cat.jpg);
}

.goldfish {
  background-image: url(../assets/img/jpg/goldfish.jpg);
}

.whale {
  background-image: url(../assets/img/jpg/whale.jpg);
}

.owl {
  background-image: url(../assets/img/jpg/owl.jpg);
}

/*animation on input:checked*/
input:checked ~ .animals__img {
  width: 20vw;
  height: 30vw;
}

input:checked ~ .animals__input-title > .arrow-box > .arrow {
  transform: rotate(180deg);
}

input:checked ~ .animals__input-title {
  cursor: auto;
}

input:checked ~ .animals__input-title:hover {
  color: var(--main-text-color);
}

/*section tools styles*/
.tools {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: linear-gradient(90deg, rgba(76,41,19,1) 0%, rgba(48,47,54,1) 51%, rgba(76,41,19,1) 100%);
}

.tools h1,
.tools__item {
  padding-top: 2rem;
}

.tools__container {
  display: flex;
  justify-content: space-between;
}

.tools__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}

.tool {
  width: 27vw;
  height: auto;
  border-radius: 0.8rem;
  transition: all ease-in 0.5s;
}

.tools__item h3 {
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.tools__item h3:hover,
.tool:hover {
  transform: scale(1.1);
}

/*footer styles*/
.footer {
  background: linear-gradient(150deg, rgba(0,0,0,1) 12%, rgba(3,20,30,1) 100%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

.footer__logo-box img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in 1s;
}

.footer__logo-box img:hover {
  transform: rotate(180deg);
}

.footer__column2 {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}

.footer__nav-container,
.footer__socmedia-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.footer__socmedia-item {
  margin-right: 0.5rem;
}